html, body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the content */
.content {
  background-color: #ddd;
  padding: 10px;
  height: 88%;
  object-fit: fill;
}

#map{
    width: 50vw;
    height: 50vh;
    position: absolute;
}

#open-button{
    position: absolute;
    right: -30px;
    background: white;
    padding: 10px 5px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
}

#loading{
    position: fixed;
    left: calc(100vw/2 - 100px);
    top: calc(100vh/2 - 200px);
    z-index: 20000;
}

.options{
    position: fixed;
    bottom: 115px;
    left: 515px;
    z-index: 1000;
    background: #ffffff;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    max-height: calc(100vh - 30px);
}

input{
    background: none;
    border: none;
    border-bottom: 1px solid #80808082;
    padding-left: 2px;
    outline: none;
}

button{
    outline: none;
}

#table{
    max-height: 200vh;
    overflow: scroll;
}

#table > * {
    font-size: 0.75em;
}

td{
    border: 2px solid blue;
    padding: 0px 2px 0px 2px;
}

tr{
    cursor: pointer;
}

tr:hover{
    background: darkgrey;
}

{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: darkblue;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}



/* Style the footer */
.footer {
  background-color: darkblue;
  padding: 10px;
  color: white;
}
