html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
  background-color: #ddd;
  padding: 10px;
  height: 88%;
  object-fit: fill;
}

tbody, thead tr { display: block; }

tbody {
    height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
}

#map{
    width: 50%;
    height: 75%;
    position: absolute;
}

#open-button{
    position: absolute;
    right: -30px;
    background: white;
    padding: 10px 5px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
}

#options{
    position: absolute;
    left: 51%;
    z-index: 1000;
    background: #ffffff;
    padding: 5px;
    border-radius: 4px;
    max-height: calc(100vh - 50px);
}

input{
    background: none;
    border: none;
    border-bottom: 1px solid grey;
    padding-left: 2px;
    outline: solid white;
}

button{
    outline: none;
}

#table{
    max-height: 200px;
    overflow: scroll;
    
}

#table > * {
    font-size: 0.75em;
    height: 10px;
}

td{
    border: 2px solid black;
    padding: 0px 2px 0px 2px;
}

tr{
    cursor: pointer;
    font-size: 12px;
    height: 10px;
}

tr:hover{
    background: darkgrey;
}

{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: darkblue;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.footer {
  background-color: darkblue;
  padding: 10px;
  color: white;
}
